.row{
    margin-top:10vh;
    margin-bottom:10vh;
    row-gap:20px
}
.btn-outline-success{
    --bs-btn-color: #0097bd;
    --bs-btn-border-color: #0097bd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0097bd;
    --bs-btn-hover-border-color: #0097bd;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0097bd;
    --bs-btn-active-border-color: #0097bd;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0097bd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0097bd;
    --bs-gradient: none;
}