<app-navbar></app-navbar>
<div id="first-component">
  <div class="text">

    <h1 class="ml1">
  <span class="text-wrapper">
    <span class="line line1"></span>
    <span class="letters">CountrySearch</span>
    <span class="line line2"></span>
  </span>
</h1>

<!-- home.component.html -->
<h1 class="home-heading-animation">
  <span class="home-text-wrapper">
    <span class="home-letters">Navigate in the world on your own way</span>
  </span>
</h1>
 
  </div>
  <div id="link"><a id="link" href="#globe">
 <span style="color: white;text-decoration: none;"> Select Your Continent</span>
 <br>
<i class="fa-solid fa-arrow-down-long fa-bounce fa-lg" style="color: #ffffff;margin-top: 50px;"></i>
  </a></div>
</div>
<!--
<div class="text">
	Hint: Click on a continent to explore it.
</div>
-->
<app-globe id="globe"></app-globe>
