:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh; /* Critical for particles to render */
}

#first-component{
	background-color: black;

color: white;
	text-align: center;
	height:100vh;
	place-content: center;

}
#link{
	margin-top: 20vh;
	text-decoration: none;
	font-weight: 700;
	font-family: 'Montserrat','Helvetica';
	color: transparent;
}
.ml1 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {

  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }
/* home.component.css */
.home-heading-animation {
  position: relative;
  font-weight: 300;
  font-size: 3.3em;
  color: white;
  z-index: 1;
}

.home-heading-animation .home-text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.home-heading-animation .home-letter {
  display: inline-block;
  line-height: 1em;
  transform: translateZ(0); /* Add hardware acceleration */
}

/* Add animation reset for potential conflicts */
.home-heading-animation .home-letter {
  animation: none !important;
  transition: none !important;
}